.opacity-mask.animated.fadeIn
  .delete-sheet.animated.fadeInUp
    h3 Delete List?
    p This will permanently delete this list and all of its items.
    .dialog-options
      a.delete-option(onclick='cancelDeleteList()') Cancel
      a.delete-option.confirm(onclick='confirmDeleteList()') Confirm
      
