.edit-option.animated.fadeInRight
  p.label Edit title
  i.material-icons edit
.delete-option.animated.fadeInRight
  p.label Delete List
  i.material-icons delete
.close-options.animated.fadeInRight
  p.label Close
  i.material-icons close
  
