extends layout

block content
  .container
    h1.welcome Welcome to DooBot
    form(role='form', action="/login",method="post", style='max-width: 300px;')
      p.lead Please login...
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      .btn-group
        button.btn.btn-default(type='submit') Login
        &nbsp;
        a(href='/')
          button.btn.btn-primary(type="button") Cancel
