body {
  display: flex;
  flex-flow: column;
  background-color: #ff9800;
  color: #FAFAFA;
  font-family: 'Source Sans Pro', sans-serif;
  padding: none;
  margin: none;
}

.appnav {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 64px;
  padding: 0px 16px;
}

.all-lists {
  display: flex;
  flex-flow: row;
  align-items: center;
  text-decoration: none;
  transition: all .3s;
  border: none;
  outline: none;
  background: none;
}

.all-lists.offstage {
  visibility: hidden;
  display: none;
}

.all-lists > p {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  color: #FAFAFA;
}


.all-lists > i {
  text-decoration: none;
  color: #FAFAFA;
  margin-right: 8px;
  margin-left: 24px;
}

.user-logout {
  align-self: flex-end;
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-left: auto;
  justify-content: center;
}
.user-logout > p {
  margin-right: 16px;
  font-size: 1.2em;
}

.user-logout > a {
  color: #FAFAFA;
  margin-top: 4px;
}

.container {
  align-self: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

h1.welcome {
  font-weight: 200;
  font-size: 3.2em;
}

.onboarding {
  align-self: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 320px;
}

.onboarding > h1 {
  font-weight: 400;
  font-size: 2.2em;
}

.onboarding > h3 {
  font-weight: 500;
  font-size: 1.4em;
}

.FAB {
  border-radius: 40px;
  width: 56px;
  height: 56px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all .5s;
}

.FAB:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transform: scale(1.05);
  transition: all .3s;
}

.list-chip {
  display: flex;
  flex-flow: row;
  align-items: center;
  order: 0;
  width: 400px;
  height: 80px;
  background: #EEEEEE;
  color: #424242;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.12), 0px 4px 4px 0px rgba(0,0,0,0.24);
  box-sizing: border-box;
  border: none;
  outline: none;
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  padding: 20px;
  margin-right: 16px;
  margin-bottom: 16px;
  text-decoration: none;
  border-radius: 2px;
  transition: all .3s;
}

.list-index > .list-chip {
  cursor: pointer;
}

.list-chip.edit-mode {
  margin-bottom: 16px;
  order: 1;
  transition: all .3s;
}

.show-title {
  border: none;
  outline: none;
  width: 448px;
  background: #EEEEEE;
  font-size: 1em;
  position: relative;
  color: #424242;
}

.edit-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  color: #424242;
  background: #EEEEEE;
  outline: none;
  border: none;
  width: 448px;
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  word-break: normal!important;
}

.edit-title:focus {
  outline: none;
  border: none;
}

.save-list-icon {
  margin-left: auto;
}

.list-options {
  color: #BDBDBD;
  margin-left: auto;
  margin-right: -8px;
  cursor: pointer;
  z-index: 100;
}

input[type="text"].list-options {
  cursor: pointer;
}

.list-index {
  align-self: center;
  display: flex;
  flex-flow: row;
  align-items: center;
  flex-wrap: wrap;
  max-width: 840px;
  margin-top: 64px;
}

.save-FAB {
  align-self: center;
  width: 48px;
  height: 48px;
  margin-top: 40px;
  background-color: #EEEEEE;
  background: url(/images/save.svg) #EEEEEE center center no-repeat;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all .3s;
}

.save-FAB:hover,
.save-FAB:focus {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transform: scale(1.05);
}

.save-FAB.new-mode {
  background-color: #FAFAFA;
  margin-top: 0px;;
}

p.lead {
  font-size: 1.2em;
  font-weight: 400;
  align-self: flex-start;
}

form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form-control {
  display: block;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  width: 300px;
  height: 56px;
  margin-bottom: 8px;
  padding: 8px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
  color: #616161;
}

.btn-group {
  align-self: center;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

/*.btn-group:last-child {
  margin-right: 0px;
}*/

button.btn {
  width: 144px;
  height: 56px;
  margin-right: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
  color: #424242;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

button.btn.btn-default {
  background-color: #fed42f;
}

button.btn.btn-primary {
  background-color: #FAFAFA;
  margin-right: 0px;
}

.list-bg {
  width: 100%;
  background-color: #EEEEEE;
  position: absolute;
  top: 192px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.FAB.item-index {
  margin-left: 24px;
  position: absolute;
  top: 164px;
  z-index: 2;
  opacity: 1;
}

#robby.FAB {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 2;
}

.list-title {
  position: absolute;
  top: 112px;
  margin-left: 104px;
  font-size: 2em;
  font-weight: 400;
  transition: all .3s ease-in-out;
}

.list-title.enter {
  animation-delay: .2s;
}

.list-title.exit {
  animation-delay: 0;
}

.new-list.modal {
  padding: 24px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.no-items {
  margin-top: 24px;
  margin-left: 104px;
  animation-delay: .2s;
}

.no-items > p {
  color: #424242;
  font-size: 1.2em;
  font-weight: 600;
}

.title-above-new-item {
  position: absolute;
  top: 90px;
  margin-left: 144px;
}

.item-chip {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 64px;
  width: 736px;
  background: #FAFAFA;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.item-chip.new-mode {
  /*What's unique about the new view?  The position of the item description?*/
  margin-top: -32px;
}

.item-chip > i {
  color: #424242;
  margin: 0px 16px;
}

.item-description {
  border: none;
  outline: none;
  background: #FAFAFA;
  font-size: 1em;
  width: 640px;
  color: #424242;
}

.FAB.item-index-view {
  position: absolute;
  top: 164px;
  transition: all .3s ease-in-out;
}
