body {
  display: flex;
  flex-flow: column;
  background-color: #ff9800;
  color: #FAFAFA;
  font-family: 'Source Sans Pro', sans-serif;
  padding: none;
  margin: none;
  overflow-x: hidden;
}

.flex-row {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.first-mode {
  align-self: center;
  margin-top: -48px;
}
.appnav {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 64px;
  padding: 0px 16px;
}

.all-lists {
  display: flex;
  flex-flow: row;
  align-items: center;
  text-decoration: none;
  transition: all .3s;
  border: none;
  outline: none;
  background: none;
}

.all-lists.offstage {
  visibility: hidden;
  display: none;
}

.all-lists > p {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  color: #FAFAFA;
}

p.label {
  text-transform: uppercase;
  margin-left: 24px;
}


.all-lists > i {
  text-decoration: none;
  color: #FAFAFA;
  margin-right: 8px;
  margin-left: 24px;
}

.user-logout {
  align-self: flex-end;
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-left: auto;
  justify-content: center;
}
.user-logout > p {
  margin-right: 16px;
  font-size: 1.2em;
}

.user-logout > a {
  color: #FAFAFA;
  margin-top: 4px;
}

.container {
  align-self: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

h1.welcome {
  font-weight: 200;
  font-size: 3.2em;
}

.onboarding {
  align-self: center;
}

 h1#welcome-to-doobot {
  align-self: center;
  font-weight: 400;
  font-size: 2.2em;
  margin: 24px 0px;
}

h3.instructions {
  align-self: center;
  font-weight: 500;
  font-size: 1.4em;
  margin: 80px 0px 24px 0px;
}

.FAB {
  border-radius: 40px;
  width: 56px;
  height: 56px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all .5s;
}

.FAB:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transform: scale(1.05);
  transition: all .3s;
}

.list-chip {
  display: flex;
  flex-flow: row;
  align-items: center;
  order: 0;
  width: 400px;
  height: 80px;
  background: #EEEEEE;
  color: #424242;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.12), 0px 4px 4px 0px rgba(0,0,0,0.24);
  box-sizing: border-box;
  border: none;
  outline: none;
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  padding: 20px;
  margin-right: 16px;
  margin-bottom: 16px;
  text-decoration: none;
  border-radius: 2px;
  transition: all .3s;
}

.list-index > .list-chip {
  cursor: pointer;
}

.list-chip.edit-mode {
  margin-bottom: 16px;
  order: 1;
  transition: all .3s;
}

.list-chip.first-mode {
  width: 512px;
  margin: 0;
}

.show-title {
  border: none;
  outline: none;
  width: 448px;
  background: #EEEEEE;
  font-size: 1em;
  position: relative;
  color: #424242;
}

.edit-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  color: #424242;
  background: #EEEEEE;
  outline: none;
  border: none;
  width: 448px;
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  word-break: normal!important;
}

.edit-title:focus {
  outline: none;
  border: none;
}

.save-list-icon {
  margin-left: auto;
}

#list-details {
  align-items: center;
  position: absolute;
  top: 120px;
  left: 0px;
  right: 0px;
  width: auto;
  height: 64px;
  cursor: pointer;
}

#list-details > a {
  cursor: pointer;
}

a.flex-row.delete-list {
  margin-right: 16px;
}

.list-options {
  align-self: auto;
  margin-right: 16px;
  margin-left: auto;
}

.label-icon {
  margin-left: 8px;
}

.list-index {
  align-self: center;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  min-width: 448px;
  max-width: 840px;
  margin-top: 64px;
}

.save-FAB {
  align-self: center;
  width: 48px;
  height: 48px;
  margin-top: 32px;
  background-color: #EEEEEE;
  background: url(/images/save.svg) #EEEEEE center center no-repeat;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all .3s;
}

.save-FAB:hover,
.save-FAB:focus {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transform: scale(1.05);
}

.save-FAB.new-mode {
  background-color: #FAFAFA;
  margin-top: 0px;;
}

p.lead {
  font-size: 1.2em;
  font-weight: 400;
  align-self: flex-start;
}

form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form-control {
  display: block;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  width: 300px;
  height: 56px;
  margin-bottom: 8px;
  padding: 8px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
  color: #616161;
}

.btn-group {
  align-self: center;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

/*.btn-group:last-child {
  margin-right: 0px;
}*/

button.btn {
  width: 144px;
  height: 56px;
  margin-right: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
  color: #424242;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

button.btn.btn-default {
  background-color: #fed42f;
}

button.btn.btn-primary {
  background-color: #FAFAFA;
  margin-right: 0px;
}

.list-bg {
  width: 100%;
  background-color: #EEEEEE;
  position: absolute;
  top: 192px;
  z-index: 2
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.FAB.item-index {
  margin-left: 24px;
  position: absolute;
  top: 164px;
  z-index: 2;
  opacity: 1;
}

#robby.FAB {
  position: fixed;
  top: 24px;
  left: 24px;
  z-index: 3;
}

#robby.FAB.onboarding {
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  top: 164px;
}

#robby.item-mode {
  position: fixed;
  top: 164px;
  left: 24px;
  transition: all .3s;
}

input.list-title {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  margin-left: 104px;
  font-size: 2em;
  font-weight: 400;
  color: #FAFAFA;
  background: none;
  border: none;
  outline: none;
  transition: all .3s ease-in-out;
}

.list-title.enter {
  animation-delay: .2s;
}

.list-title.exit {
  animation-delay: 0;
}

.open-options {
  margin-left: auto;
}

.new-list.modal {
  padding: 24px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.no-items {
  margin-top: 24px;
  margin-left: 104px;
  animation-delay: .2s;
}

.no-items > p {
  color: #424242;
  font-size: 1.2em;
  font-weight: 600;
}

.title-above-new-item {
  position: absolute;
  top: 90px;
  margin-left: 144px;
}

.item-chip {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 64px;
  width: 736px;
  background: #FAFAFA;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.item-chip.new-mode {
  /*What's unique about the new view?  The position of the item description?*/
  margin-top: -32px;
}

.item-chip > i {
  color: #424242;
  margin: 0px 16px;
}

.item-description {
  border: none;
  outline: none;
  background: #FAFAFA;
  font-size: 1em;
  width: 640px;
  color: #424242;
}

.FAB.item-index-view {
  position: absolute;
  top: 164px;
  transition: all .3s ease-in-out;
}

.opacity-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index : 100;
  background-color: rgba(238, 238, 238, 0.9);
  transition: all .3s;
}

.delete-sheet {
  display: flex;
  flex-flow: column;
  align-items: center;
  box-sizing: border-box;
  width: 512px;
  height: 240px;
  padding: 24px;
  position: absolute;
  z-index: 101;
  top: 50%;
  left: 50%;
  margin-top: -256px;
  margin-left: -256px;
  background-color: #FAFAFA;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.delete-sheet > h3 {
  color: #F44336;
  font-weight: 400;
  font-size: 2em;
  margin: 8px;
}

.delete-sheet > p {
  color: #424242;
  font-size: 1.2em;
  margin-bottom: 24px;
}

.dialog-options {
  width: 448px;
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: space-around;
}

.delete-option {
  margin: 0px 4px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  height: 56px;
  background-color: #EEEEEE;
  color: #424242;
  text-align: center;
  box-sizing: border-box;
  padding: 8px 16px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.delete-option.confirm {
  background-color: #F44336;
  color: #FAFAFA;
}

.item-workspace {
  align-self: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.item-chip {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 736px;
  height: 64px;
  border-radius: 2px;
  background-color: #FAFAFA;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: #424242;
}

/*ITEM STYLES*/

.duedate {
  display: flex;
  flex-flow: column;
  background-color: #FAFAFA;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  width: 320px;
  height: 224px;
  margin-top: 16px;
  margin-right: 16px;
}

.knwl {
  align-self: center;
  display: block;
  box-sizing: border-box;
  width: 304px;
  height: 40px;
  margin-top: 8px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  padding: 0px 8px;
  outline: none;
  color: #424242;
}

.datepicker {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #424242;
}

.ui-datepicker-header.ui-widget-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  width: 320px;
  height: 40px;
  padding: 8px;
}

.ui-datepicker-prev {
  order: 1;
}

.ui-datepicker-prev::before {
  content: '\e5cb';
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: table-cell;
  vertical-align: middle;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
}

.ui-datepicker-title {
  order: 2;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 500;
}


.ui-datepicker-next {
  order: 3;
}
a.ui-datepicker-prev.ui-corner-all > span {
  display: none;
}

a.ui-datepicker-next.ui-corner-all > span {
  display: none;
}

a.ui-datepicker-next.ui-corner-all {

}

.ui-datepicker-next:before {
  content: '\e5cc';
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: table-cell;
  vertical-align: middle;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
}
