
h1(class="list-title animated slideInUp enter")= list.listTitle
.list-bg.animated.fadeInUp
  if(!items.length)
    .no-items.animated.fadeInUp
      p Next, add a list item.
  if(items.length)
    p Should print a list of items...
