h1 I'm an h1
h3 I'm an h3
.row
  i.material-icons add_alarm
  i.material-icons add_box
  i.material-icons add_shopping_cart
p I am totally rendered in HTML from Jade.

p this should be the user:
h1= username
