.item-workspace
  .item-chip
    i.material-icons radio_button_unchecked
    input.item-description(type="text", name="item-description")
    i.material-icons.save-list-icon file_download
  .flex-row
    .duedate
      input.knwl(type="text", name="knwl-input", placeholder='Type or select date')
      .datepicker
    .mapbox
  .notepad
    
